.container-register {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

.title-register {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-register {
  display: flex;
  flex-direction: column;
}

.input-register {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button-register {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #0c2138;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-register:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .container-register {
    padding: 40px;
  }

  .title-register {
    font-size: 28px;
  }

  .input-register {
    padding: 15px;
    font-size: 18px;
  }

  .button-register {
    padding: 15px;
    font-size: 18px;
  }
}
