.products-containerC {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 6rem;
}

.product-cardC {
  height: 381px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 230px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-cardC:hover {
  transform: scale(1.05);
}

.product-imageC {
  width: 100%;
  height: 185px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.product-nameC {
  font-size: 1.2em;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-priceC {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.button-addC {
  background-color: #28a745;
  width: auto;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-addC img {
  height: 15px;
  margin: 0 0 0 5px;
}

.button-addC:hover {
  background-color: #218838;
}
